<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>创建用户</title>
</head>
<body>
<form th:action="@{/user}" method="post" >

    <div>
        <label for="user_name" class="col-sm-2 control-label">用户名:</label>
        <input type="text" id="user_name" name="name" th:field="*{user.name}"/>
    </div>
    <div >
        <label for="user_age" >年龄:</label>
        <input type="text" id="user_age" name="age" th:field="*{user.age}"/>
    </div>
    <div >
        <input type="submit" value="提交"/>
    </div>
</form>

</body>
</html>